@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<p>Life is hard. We make shopping easy. From our carts to yours</p>
<p>Celebrating the joy of homemade gifts with us, We are a group which you with your shopping and makeing wallet full!</p>
<p>
    Shopping has become a happy experience that we will seldom want to forego.

    Be it the pop-culture portrayal or the never-ending sales, no one leaves a store with just a loaf of bread. Money may not be able to buy happiness, but it can surely get you started on fashion.

    Shopping has almost become an art, and not everyone has the talent to buy the right things. As your shopping buddies grow, it is always better to have some quotes about shopping handy.

    Check out Weekend quotes and quotes about dress up if you happen to love fashion.
</p>
<p>Contact Us 2398298281</p>
