@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our BuyGuide.Ca</h1>
    <h1 class="display-4">We help our customer to make the best DEAL!</h1>
    <img src="Ben.jpg" width="128" height="128"> 
    <p>Purchases that make life a little better, gift guides, and product reviews. From our carts to yours, BENNY BABY</a>.</p>
</div>
